/****************************************
*   CSS Styling script for Weather app
*
*       @author: Toni Tiainen
*       @version: 27.2.2018
*
*
 ****************************************/


body {
    margin: 0;
    background: #cdf3ff;
}

/*************   Header   ***************/

.header {
    height: 70px;
    background: #4868c4;
    border: none;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_name {
    cursor: pointer;
}

.unit_container {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 150px;
}

.unit_C, .unit_F {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 75px;
    height: 100%;
    text-align: center;
}

.unit_C {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #5068c4;
    background-color:  #33afff;
}

.unit_F {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #5068c4;
    background-color:  #0083d8;
}

/*************   Texts   ***************/

/* Main headline*/
h1 {
    margin: 0;
    color: white;
}

/* City names */
h2 {
    margin-bottom: 2px;
}

/* Input field's headline */
h3 {
    font-size: 23px;
    margin: 0;
    color: black;
}

/* Input field's names */
h4 {
    margin: 3px;
    font-size: 20px;
}

/* Temperature numbers */
h5 {
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 40px;
}

p {
    margin: 0;
}


/*************   Weather boxes   ***************/

.weather_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather {
    min-width: 150px;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;

    border-radius: 10px;
    border: 2px solid gray;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    cursor: pointer;
}

.temp_container {
    display: flex;
    height: 40px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.city_coordinates {
    font-size: 12px;
    color: grey;
    margin-bottom: 10px;
}

.highest_container,
.lowest_container,
.current_container {
    width: 40px;
    text-align: center;
}

.highest {
    color: #ff4f4f;
}

.lowest {
    color: #0083d8;
}

.tooltip {
    visibility: hidden;
    display: block;
    width: 120px;
    font-size: 12px;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;

    position: relative;
    z-index: 1;
    left: -40px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.highest_container:hover .tooltip {
    visibility: visible;
}

.lowest_container:hover .tooltip {
    visibility: visible;
}

.current_container:hover .tooltip {
    visibility: visible;
}

/************* Form and databox *************/
#inputAndData {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*************   Form   ***************/

.form {
    display: flex;

    width: 400px;
    height: 231px;
    margin: 10px;
    padding: 0;
    border-radius: 10px;
    border: 2px solid gray;
    justify-content: space-between;

    background: white;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_div {
    margin: 5px;
    padding: 5px;
}



.input_field {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#temperature_and_unit {
    display: flex;
    flex-direction: row;
}

#unit_select {
    border: 1px solid gray;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    background: url(/images/select.png) no-repeat 80% center;
    background-size: 20px 20px;
}

#city_select {
    width: 203px;
    border-radius: 5px;
    border: 1px solid lightgray;

    background: url(/images/select.png) no-repeat 93% center;
    background-size: 20px 20px;
}

#form_button {
    width: 100%;
    height: 40px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    background-color: #ff4f4f;
    font-size: 30px;

    cursor: pointer;
}

#form_button:hover {
    background-color:  #b53a3a;
    transition: all 0.1s ease-in-out;
}

#input_error {
    height: 25px;
}

form {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

input {
    height: 49px;
    width: 123px;
    padding: 12px 15px;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid lightgray;

    font-size: 20px;
}

select {
    display: block;
    width: 80px;
    height: 49px;
    padding: 10px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    font-size: 20px;
}



/********* Datalist ************/

.data_container {
    display: flex;
    flex-direction: column;

    max-width: 500px;
    height: 500px;
    margin: 10px;
    padding: 0;
    margin-bottom: 60px;
    border-radius: 10px;
    border: 2px solid gray;

    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.data_header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-bottom: 1px solid grey;

    padding: 10px;
    margin-bottom: 0;
    padding-bottom: 0;

    height: 55px;
}

.data_listnames {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.data_name {
    margin-bottom: 3px;
}

.data_header_temp,
.data_header_date,
.data_header_city {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data_header_temp {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    width: 120px;

    cursor: pointer;
}


.temp_img,
.date_img,
.city_img{
    padding-left: 5px;
    width: 20px;
}

.temp_img[flipped],
.date_img[flipped],
.city_img[flipped]{
    transform: scaleY(-1);
}

.data_header_date {
    text-align: center;
    width: 200px;

    cursor: pointer;
}

.data_header_city {
    text-align: center;
    width: 100px;

    cursor: pointer;
}

.data_list {
    display: flex;
    flex-direction: column;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    height: 445px;
    width: 100%;
    overflow-y: auto;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.odd, .even {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 30px;
}

.odd {
    background: lightgray;
}

.even {
    background: white;
}

.data_row_temp,
.data_row_city,
.data_row_date{
    text-align: center;
}

#noselect {
    user-select: none;
}

.data_row_temp {
    width: 120px;
}

.data_row_date {
    width: 200px;
}

.data_row_city {
    width: 100px;
}

.data_row_del {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.footer {
    background-color: #4868c4;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.footer_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    position: fixed;
    right: 0;
    width: 250px;
    height: 50px;
}


/************* Window resizing **************/

@media all and (max-width: 920px) {
    #inputAndData {
        flex-direction: column;
        align-items: center;
    }

    .form {
        min-width: 450px;
    }

    .data_container {
        width: 450px;
    }
}

@media all and (max-width: 920px) {
    .weather {
        width: 150px;
        height: 60px;
    }

    h2 {
        margin: 5px;
    }

    .city_coordinates {
        visibility: hidden;
        height: 0;
        margin-bottom: 0px;
    }
}